.show-search {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -2em;
  }
  
  .show-select {
    margin: 0 1em;
  }
  
  table {
    margin: 2em 0em;
    width: 100%;
    border-spacing: 0px 9px;
    border-collapse: collapse;
  }
  
  th {
    padding: 1.5em;
    padding-right: 2em;
    font-size: 0.9em;
    font-weight: 500;
    background-color: #2C5E73;
    color: white;
    font-weight: 600;
    position: relative;
    height: 3em;
  }
  
  .arrows {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    right: 0;
    top: 25%;
    font-size: 1em;
    color: #23454d;
    cursor: pointer;
    width: 2em;
    height: 3em;
  }
  
  .arrow-selected {
    color: white;
  }
  
  tr {
    border-bottom: 1px solid rgb(234, 234, 234);
  }
  
  td {
    padding: 0.8em;
  }
  
  tbody tr:nth-child(even) {
    background-color: rgb(246, 246, 246);
  }
  
  .entries-pages {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1em 0em 2em 0em;
  }
  
  .entries-pages button {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    font-weight: 700;
    color: #23454d;
    background-color: lightgray;
    margin-right: 0.5em;
    border-radius: 1em;
    cursor: pointer;
  }
  
  .entries-total {
    font-weight: 500;
  }
  
  @media (max-width: 1024px) {
    .show-search {
      margin-top: 0em;
    }
  }
  